<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="EllevoAPP.EllevoAPP" android:versionCode="01" android:versionName="Ana">
	<uses-sdk />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Ellevo APP" android:icon="@drawable/logomobile150x150"></application>
</manifest>